#root {
  background-color: #E7CFCD;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 11.5rem;
  background-color: #1A132F;

}

form {
  margin-left: 18rem;
  margin-top: -2rem;

}

.search {
  width: 10rem;
  height: 2rem;
  margin-left: 3rem;
}

h1 {
  padding-top: 2rem;
  text-align: center;
  color: #F7E2E2;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  text-align: center;
  padding: 2rem;
  margin: auto;

}

.episodeItem {
  width: 18rem;
  height: 30rem;
  text-align: center;
  background-color: #009FB7;
  border: 5px solid #13545F;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.episodeItem h2 {
  background-color: #FFCAB1;
  border: 2px solid #13545F;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2.5rem;
  margin-top: 0;
  padding-top: 1rem;


}

.description {
  padding: 0.8rem;
}

.mazeDiv {
  color: #009FB7;
  font-size: 1rem;
  margin-left: 35rem;
  width: 30rem;
  margin-top: -5rem;

}

.mazeDiv a {
  color: #F7E2E2;
}

.searchOutput {
  color: #F7E2E2;
}

.header .select {
  width: 19.5rem;
  height: 2rem;
  margin-top: 3rem;
  margin-left: 0.5rem;

}


/* for the popup element */
#popupEpisode {
  width: 100vw;
  height: 100vh;
  background: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
}